/* Your CSS Code here. */
* {
	font-family: sans-serif;
}

table {
	border : 1px solid black;
	width : 60%;
	border-collapse : collapse;
}

th, td {
		border : 1px solid black;
}

thead tr {
	background-color : #c0504d;
	text-align : left;
	color : white;
}

tbody {
	text-align : right;
}

.col1 {
	text-align : left;
}

#waist {
	background-color : #da9694;
	color : white;
}

#chest {
	background-color : #f2dcdb;
}

#sleeve {
	background-color : #d9d9d9;
}
